@using Microsoft.AspNetCore.Identity
@model IdentityRole
@{
	ViewData["Title"] = "Chỉnh sửa role";
}

<h3>@ViewData["Title"]</h3>
<div class="col-md-9">
	<form asp-action="Edit" asp-route-id="@Model.Id">
		<input type="hidden" asp-for="Id" />
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>

		<div class="form-group">
			<label>Tên role</label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>

		<div class="form-group">
			<button class="btn btn-primary">Chỉnh sửa</button>
		</div>
	</form>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}


}