@model qyn_figure.Models.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<section id="form">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <h2>Login to your account</h2>
                    <form asp-action="Login" method="post">
                        <!-- Chỉ thêm ReturnUrl nếu có giá trị -->
                        @if (!string.IsNullOrEmpty(Model.ReturnUrl))
                        {
                            <input type="hidden" asp-for="ReturnUrl" />
                        }

                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="Username"></label>
                            <input asp-for="Username" class="form-control" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" type="password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Đăng nhập</button>
                        </div>

                        <a asp-action="SignUp" asp-controller="Account">Đăng ký</a><br />
                        <a asp-action="ForgetPass" asp-controller="Account">Quên mật khẩu?</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}